// I gather this file is a starting point for the project.
@import "bootstrap";

//main elements
body {
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size:105%;
}

h1 {
  line-height: 1;
  font-size:250%;
}

p {
  margin-bottom: 1.5em;
  font-size:100%;
}

//sidebars
ul.author {
  list-style-type: none;
}

//tags
@mixin tags-cloud-groups($groups, $increment: .1) {
  @for $n from 0 through ($groups - 1) {
    $opacity: $n * .05 + .8;
    @if $opacity > 1 {
      $opacity: 1;
    }
    .tags-#{$n} {
      font-size: #{1 + $n * $increment}em;  
      opacity: $opacity;
    }
  }
}

.tags-cloud {
  @include tags-cloud-groups(12, .15);
  a {
    padding: 3px;
    text-decoration: none;
    @include border-radius(10px);
  }
}


// Include responsive Bootstrap styles
// @import "bootstrap-responsive";
