---
layout: base
---

.row
  .span9
    %h1 In relation to 
    .lead
      The Hibernate team blog
    ~ content
  .span3
    %a{:href=>'/feed.atom'}
      %img{:src=>'/images/services/rss_32.png'}
    %a{:href=>'/feed.atom'}
      General feed
    %h2
      Authors
    %ul.author
      - for author in site.posts_author
        %li
          %span
            %a{:href=>site.base_url + author.primary_page.url}= author
    %h2
      Tags
    = site.posts_tags_cloud
